[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
wxpython = "*"
fastapi = "*"
uvicorn = { extras = ["standard"], version = "*" }
peewee = "*"
shortuuid = "*"
ruff = "*"

[dev-packages]

[requires]
python_version = "3.11"
